{% extends 'base.html' %}

{% block content %}

<style>
.parent> div
{
float: left;
margin-right: 1%;
}
.child:last-child {
    margin-left: 5%;
}
.child:first-child {
margin-left: 5%;
}
</style>

<div class="parent">
        <div class="child"><h1>{{ user }}</h1></div>
        <div class="child">
            {% if not(current_user.id == id) %}
            <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                {% if not(is_user) %}
                <button type="button" class="btn btn-success" id="subscribe">Subscribe</button>
                {% else %}
                <button type="button" class="btn btn-danger" id="subscribe">Unsubscribe</button>
                {% endif %}
            </div>
            {% endif %}
        </div>
        <div class="child">
            {% for new in news %}
            <h5>
                <a href="/new/{{ new.id }}">{{ new.title }}</a> views - {{ new.views }}date - {{new.created_date}}
            </h5>
            {% endfor %}
        </div>
    </div>
{% endblock %}